<h1>Adedanha</h1>

<form phx-submit="join">
  <label>
    <%= gettext("Id da sala") %>
    <input type="text" name="room_id">
  </label>

  <button><%= gettext("Entrar") %></button>
</form>

<hr>

<button phx-click="create"><%= gettext("Criar nova sala") %></button>
