<%= if @room_pid != nil do %>
  <%= if @room.state == :waiting_players do %>
    <%= live_component @socket, AdedanhaWeb.RoomLive.WaitingPlayers, room: @room, player: @player %>
  <% end %>
<% end %>

<hr>

<p><a href="#">voltar</a></p>
