<%= if @id != nil do %>
  <%= if @state.state == :waiting_players do %>
    <%= live_component @socket, AdedanhaWeb.RoomLive.WaitingPlayers, state: @state, player: @player %>
  <% end %>
<% end %>

<hr>

<p><a href="#">voltar</a></p>
